nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

nav #nav-corner-square {
  z-index: 99;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #393d46;
}

nav #nav-corner-square svg {
  fill: #fff;
  height: 50%;
  width: 50%;
}

nav #nav-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #nav-title a {
  text-decoration: none;
}

nav #nav-title h1 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #393d46;
}

nav #nav-icons {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #393d46;
  top: 50px;
  padding: 10px;
}

nav #nav-icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  text-decoration: none;
  color: #fff;
}

nav #nav-icons a:hover {
  color: #6a6a6a;
}

nav #nav-icons a:hover svg {
  fill: #6a6a6a;
  stroke: #6a6a6a;
}

nav #nav-icons svg {
  fill: #fff;
  stroke: #fff;
  height: 25px;
  margin: 10px;
  margin-right: 15px;
}

nav #nav-icons #nav-login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  border: 2px solid white;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

nav #nav-icons .cart-icon {
  display: none;
}

nav #nav-icons.menu-closed {
  display: none;
}

nav .cart-icon-mobile {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .cart-icon-mobile svg {
  height: 25px;
  width: 25px;
  fill: #393d46;
}

@media screen and (min-width: 768px) {
  nav #nav-corner-square {
    height: 75px;
    width: 75px;
  }
  nav #nav-corner-square svg {
    display: none;
  }
  nav #nav-icons {
    width: auto;
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
    top: 50px;
    padding: 10px;
    margin-right: 75px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav #nav-icons p {
    display: none;
  }
  nav #nav-icons svg {
    fill: #393d46;
    stroke: #393d46;
    height: 25px;
    margin: 10px;
    margin-left: 15px;
  }
  nav #nav-icons .cart-icon {
    display: initial;
  }
  nav #nav-icons #nav-login-btn {
    color: #393d46;
    border: 2px solid #393d46;
    font-size: 0.9rem;
    width: auto;
    padding: 5px 10px;
    margin-left: 15px;
  }
  nav .cart-icon-mobile {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  nav #nav-corner-square {
    height: 125px;
    width: 125px;
  }
  nav #nav-icons {
    margin-right: 125px;
  }
  nav #nav-icons svg {
    margin-left: 30px;
    width: 35px;
    height: 35px;
  }
}
/*# sourceMappingURL=Nav.css.map */